
window { 
    color: #DDDD88;
    background-color: #181818; 
    font-size: 20px; 
    font-family: "UbuntuMono Nerd Font";
}

.title {
    background-color: #121212;
    font-size: 24px;
    font-weight: bold;
}

.weekday {
    text-decoration: underline;
}

button { 
    color: #DDDDDD;
    background: #181818; 
    border-color: #111111;
    font-size: 24px; 
    font-weight: bold;
    font-family: "UbuntuMono Nerd Font";
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

button:focus {
    border-color: #DDDD88;
    box-shadow: none;
    outline: none;
}


.disabled-day {
    color: #555555;
    background: #121212; 
}

.today {
    color: #DDDD88;
    background: #151515; 
}

.day-with-note {
    background-image: radial-gradient(circle, #DDDD88 3px, transparent 4px);
    background-position: 0px 19px;
    background-repeat: no-repeat;
}


.note-overlay {
    /* background-color: #FFFFFF; */
    background: #181818;
}


.todo-note-box {
    background-color: #161622;
    border-style: solid;
    border-width: 2px;
    border-color: #161622;
}

.todo-note-box-selected {
    border-color: #DDDD88;
}

.todo-note {
    /* color: #FF0000; */
    line-height: 1.25;
}
